#show_div {
color: white;

}

.show_card{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 10px;


}
.first{

  margin-bottom: 2px;
  background-color:black;

}
 .second{
  font-size: 20px;
 }

 .third{
  margin-bottom: 10px;
 

 }
 .summary{
  display: flex;
  background-color: black;
  font-size: 20px;
 }
body {
  background-image:url("https://mcdn.wallpapersafari.com/medium/26/41/7g30nz.jpg");
}

#header{
  display: flex;
  flex-direction: row;
  background-image: url("https://images6.alphacoders.com/846/846724.jpg");
  margin-bottom: 20px;
  border:1px solid orange;
}
.tv_img {
  width:150px;
}
.welcome {
  font-size: 50px;
  color:orange;
}
 
#root {
  color:white;
  size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card
{
  display: flex;
  flex-direction: column;
  margin : 10px;
  padding : 32px;
  max-width: 300px;
  border-radius: 3%;
  border: 1px solid;
  background-color:black;
}

h1 { 
  font-size: 20px;
}

.l {
  margin-bottom: 20px;
  border: 1px solid orange;
  
}

img {
align-self: center;
}

p{
  text-align: justify;
}

#search , #selector, #select-show{
  color:white ;
  padding: 5px;
  border: 1px solid orange;
  margin-bottom: 20px;
  background-color: black;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  font-family: cursive;
  color:brown;
}