#root {
  color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin : 15px;
  padding : 20px;
  background-color:lightgray;
  max-width: 300px;
  border-radius: 3%;
  border: 1px solid gray;
}

img {
align-self: center;
}

p{
  text-align: justify;
}

