#root {
  color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin : 10px;
  padding : 32px;
  background-color:azure;
  max-width: 300px;
  border-radius: 3%;
  border: 1px solid orchid;
  
}



h1{ font-size: 30px;}

.l {
  margin-bottom: 20px;
  border: 1px solid grey
  
}


img {
align-self: center;
}

p{
  text-align: justify;
}

#search , #selector {
  color: green
  ;
  padding: 5px;
  border: 2px solid orchid;
  margin-bottom: 20px;
}

